<form action="/" method="post" name="checkbox_form">
    <p><input type="checkbox" name="wanted[]" value="iTunes">iTunes</p>
    <p><input type="checkbox" name="wanted[]" value="Mashable">Mashable</p>
    <p><input type="checkbox" name="wanted[]" value="Amazon">Amazon</p>
    <input type="submit" value="Search">
</form>
